main {
  margin-top: 4rem;
}
body {
  margin: 0;
}
.background {
  background: url("../images/plans-background.jpg") center/cover;
  filter: grayscale(55%);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: -1;
}

.plan {
  position: relative;
  background: lightcoral;
  width: 80%;
  padding: 4rem;
  margin: 2rem 0px;
  border: 2px solid rgb(231, 77, 77);
  transition: all 0.2s;
}

.plan:hover {
  animation: rise 500ms forwards;
}

.plan:first-of-type {
  margin-top: 6rem;
}

.plan a {
  color: white;
  text-decoration: none;
  display: block;
}

.plan__name {
  font-size: 1.5rem;
}

.plan__target {
  color: #ddd;
}

.plan__badge {
  position: absolute;
  text-align: center;
  top: 0;
  right: 0px;
  font-size: 0.66rem;
  background: white;
  color: lightcoral;
  padding: 0.5rem;
  margin: 0;
  transform: rotateZ(45deg) translateX(3.5rem) translateY(-0.5rem);
  width: 11rem;
}

.plan__description {
  background: white;
  color: black;
  border: 1px solid black;
  padding: 1rem;
}

.clearfix {
  clear: both;
}

#plus {
  background: rgb(240, 111, 111);
  border-left: none;
  overflow: hidden;
}

#plus .plan__description {
  color: rgb(156, 82, 82);
  border: 1px solid transparent;
  border-left: none;
  padding: 1rem;
}

#free {
  float: right;
  background: rgb(240, 136, 136);
  border-right: none;
  border-left: 2px solid rgb(231, 77, 77);
  text-align: right;
}

#premium {
  background: rgb(233, 80, 80);
  border: 2px solid rgb(233, 80, 80);
}

#premium .plan__description {
  color: rgb(233, 80, 80);
  border: 1px solid transparent;
  padding: 1rem;
}

.plan:hover,
.plan:hover {
  border: 2px solid red;
  border-left: none;
  box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.5);
}

@media (min-width: 40rem) {
  .plan {
    position: relative;
    background: lightcoral;
    max-width: 1200px;
    width: 80%;
    padding: 4rem;
    margin: 2rem 0px;
    border: 2px solid rgb(231, 77, 77);
    transition: all 0.2s;
  }
}

@keyframes rise {
  0% {
    transform: translateY(0rem);
  }
  100% {
    transform: translateY(-0.6rem);
  }
}
