.container {
  margin: 20px;
  display: grid;
  grid-template-columns: 20px 1fr 2fr 3fr;
  grid-template-rows: 5rem 2.5rem;
}

.el1 {
  background: rgba(255, 154, 72, 0.5);
}

.el2 {
  background: rgba(255, 0, 0, 0.5);
}

.el3 {
  background: rgba(0, 128, 0, 0.5);
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.el4 {
  background: rgba(0, 4, 255, 0.5);
}
